@media screen and (max-width: 1200px) {
    
    #m_rojo{
        margin-left: 20em;
    }
}

@media screen and (max-width: 900px) {
    
    #m_rojo{
        margin-left: 10em;
    }
}
@media screen and (max-width: 500px) {
    
    #m_rojo{
        margin-left: 0px;
    }
}